.alert
    i.icon-info  
    | 请仔细检查下面的内容
    a.close(data-dismiss='alert') ×
.alert.alert-ok
    i.icon-cancel-circle  
    | 恭喜！注册成功，你现在就可以登录了。
.alert.alert-error
    h3.alert-header 注册信息不全
    |     请填写下面红色边框标注的必填项。
