a.pure-button(href='#') 默认按钮
button.pure-button 默认按钮

h2.typo-h2 已禁用按钮

a.pure-button.pure-button-disabled(href='#') 不能点
button.pure-button.pure-button-disabled 不能点

h2.typo-h2 激活状态

a.pure-button.pure-button-active(href='#') 激活状态
button.pure-button.pure-button-active 激活状态

h2.typo-h2 不同颜色

button.pure-button.button-primary 主要按钮
button.pure-button.button-secondary 次要按钮
button.pure-button.button-success 成功按钮
button.pure-button.button-warning 警告按钮
button.pure-button.button-error 错误按钮

h2.typo-h2 链接按钮
a.pure-button.button-primary 主要按钮
a.pure-button.button-secondary 次要按钮
a.pure-button.button-success 成功按钮
a.pure-button.button-warning 警告按钮
a.pure-button.button-error 错误按钮