ul.menu
    li.dropit-trigger
        a(href='#') 海子的诗
        ul.list.dropit-submenu
            li.active
                a(href='#') 黎明
            li
                a(href='#') 给萨福
            li
                a(href='#') 给安徒生
            li
                a(href='#') 梭罗这人有脑子
            li
                a(href='#') 梭罗这人有脑子
