form.pure-form
      fieldset
        legend 紧凑行内表单
        input(type='email', placeholder='电子邮件')
        input(type='password', placeholder='密码')
        button.pure-button.button-primary(type='submit') 登录


h2.typo-h2 垂直表单

form.pure-form.pure-form-stacked
      fieldset
        legend 垂直表单
        label(for='email') 电子邮件
        input#email(type='email', placeholder='电子邮件')
        label(for='password') 密码
        input#password(type='password', placeholder='密码')
        label(for='state') 省份
        select#state
          option 河南
          option 河北
          option 河西
        label.pure-checkbox(for='remember')
          input#remember(type='checkbox')
          |  记住我
        button.pure-button.button-primary(type='submit') 登录


h2.typo-h2 左对齐表单

form.pure-form.pure-form-aligned
    fieldset
        .pure-control-group
            label(for='name') 用户名
            input#name(type='text', placeholder='用户名')
        .pure-control-group
            label(for='password') 密码
            input#password(type='password', placeholder='密码')
        .pure-control-group
            label(for='email') 电子邮件
            input#email(type='email', placeholder='电子邮件')
        .pure-control-group
            label(for='foo') 介绍文字
            input#foo(type='text', placeholder='介绍文字...')
        .pure-controls
            label.pure-checkbox(for='cb')
                input#cb(type='checkbox')
                |  接受条款
            button.pure-button.button-primary(type='submit') 提交




h2.typo-h2 多行表单

form.pure-form.pure-form-stacked
      fieldset
        legend 表单标题
        .pure-g
          .pure-u-1.pure-u-md-1-3
            label(for='first-name') 姓氏
            input#first-name.pure-u-23-24(type='text')
          .pure-u-1.pure-u-md-1-3
            label(for='last-name') 名称
            input#last-name.pure-u-23-24(type='text')
          .pure-u-1.pure-u-md-1-3
            label(for='email') 电子邮件
            input#email.pure-u-23-24(type='email', required='')
          .pure-u-1.pure-u-md-1-3
            label(for='city') 城市
            input#city.pure-u-23-24(type='text')
          .pure-u-1.pure-u-md-1-3
            label(for='state') 省份
            select#state.pure-input-1-2
              option 河南
              option 河北
              option 河西
        label.pure-checkbox(for='terms')
          input#terms(type='checkbox')
          |  接受条款
        button.pure-button.button-primary(type='submit') 提交


h2.typo-h2 表单组

form.pure-form
      fieldset.pure-group
        input.pure-input-1-2(type='text', placeholder='用户名')
        input.pure-input-1-2(type='text', placeholder='密码')
        input.pure-input-1-2(type='email', placeholder='电子邮件')
      fieldset.pure-group
        input.pure-input-1-2(type='text', placeholder='标题')
      button.pure-button.pure-input-1-2.button-primary(type='submit') 登录
