.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong 时光
        p.typo-small 在阳光温暖的春天, 走在这城市的人群中, 在不知不觉的一瞬间, 又想起你, 你是记忆中最美的春天, 是我难以再回去的昨天, 你像鲜花那样地绽放, 让我心动



.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong
                a(href="#") 蓝莲花
        p.typo-small 没有什么能够阻挡, 你对自由地向往, 天马行空的生涯, 你的心了无牵挂, 穿过幽暗地岁月, 也曾感到彷徨, 当你低头地瞬间, 才发觉脚下的路, 心中那自由地世界, 如此的清澈高远, 盛开着永不凋零, 蓝莲花




.media
    a.media-cap(href="#")
        img(src="http://placehold.it/64x64")
    .media-body
        .media-body-title
            strong
                a(href="#") 丁香
        p.typo-small 我是那雨后最初的丁香, 在你不经意时开放, 守候着每个黎明和夜晚, 只为它经过瞬间, 它远远的为你开放在每个夜里, 在梦里它可曾感到我的忧伤, 它远远的为你开放在每个夜里, 在梦里它可曾感到你因为它而恐慌


h2.typo-h2 图片在右边

.media.media-right
      a.media-cap(href='#')
        img(src='http://placehold.it/64x64')
      .media-body
        .media-body-title
          strong 丁香不是蓝莲花
          small.pull-right 5月21日13:14 查看 31109 次
        p.typo-small 我是那雨后最初的丁香, 在你不经意时开放, 守候着每个黎明和夜晚, 只为它经过瞬间, 它远远的为你开放在每个夜里, 在梦里它可曾感到我的忧伤, 它远远的为你开放在每个夜里, 在梦里它可曾感到你因为它而恐慌

.media.media-right
  a.media-cap(href='#')
    img(src='http://placehold.it/64x64')
  .media-body
    .media-body-title
      strong 丁香不是蓝莲花
      small.pull-right 5月21日13:14 查看 31109 次
    p.typo-small 我是那雨后最初的丁香, 在你不经意时开放, 守候着每个黎明和夜晚, 只为它经过瞬间, 它远远的为你开放在每个夜里, 在梦里它可曾感到我的忧伤, 它远远的为你开放在每个夜里, 在梦里它可曾感到你因为它而恐慌


h2.typo-h2 图片在上面

.pure-g.row

  .pure-u-1.pure-u-md-1-3
    .col
      .media.media-top
        a.media-cap(href='#')
          img(src='http://placehold.it/560x360')
        .media-body
          .media-body-title
            strong 出售进口雷克萨斯GS430一键启动最高配置
          p.typo-small 青浦 - 徐泾 - 沪青平公路1920号

  .pure-u-1.pure-u-md-1-3
    .col
      .media.media-top
        a.media-cap(href='#')
          img(src='http://placehold.it/560x360')
        .media-body
          .media-body-title
            strong 出售进口雷克萨斯GS430一键启动最高配置
          p.typo-small 青浦 - 徐泾 - 沪青平公路1920号

  .pure-u-1.pure-u-md-1-3
    .col
      .media.media-top
        a.media-cap(href='#')
          img(src='http://placehold.it/560x360')
        .media-body
          .media-body-title
            strong 出售进口雷克萨斯GS430一键启动最高配置
          p.typo-small 青浦 - 徐泾 - 沪青平公路1920号