.ui-tab.ui-tab-h.sep
    ul.tab-title.clearfix
        li
            a(href='#tab-1') 精准设计 彰显品牌
        li
            a(href='#tab-2') 极致优化，瞬时可达
        li
            a(href='#tab-3') 优势整合，丰富展现
    .tab-content
        #tab-1.tab-content-pane
            | 网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。
        #tab-2.tab-content-pane
            | 互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻松解决问题。
        #tab-3.tab-content-pane
            | 每个企业都有独特的优势，良好的信息架构能够把这些优势丰富的展现出来，网站建设的过程就是信息架构的过程。


h2.typo-h2  垂直 tab

.ui-tab.ui-tab-v.sep
    ul.tab-title.clearfix
        li
            a(href='#tab-1') 精准设计 彰显品牌
        li
            a(href='#tab-2') 极致优化，瞬时可达
        li
            a(href='#tab-3') 优势整合，丰富展现
    .tab-content
        #tab-1.tab-content-pane
            | 网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。产品更是如此。网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。
        #tab-2.tab-content-pane
            | 互联网时代，寸秒寸金，1秒的迟缓就能对您的业务产生莫大的影响，良好到位的优化就能轻松解决问题。网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。
        #tab-3.tab-content-pane
            | 每个企业都有独特的优势，良好的信息架构能够把这些优势丰富的展现出来，网站建设的过程就是信息架构的过程。网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。网站的作用在于传递信息，而精准的设计能够马上告诉用户：“我们是在很认真的为您服务，网站如此，产品更是如此。