/* --------------------------------------------------------------
 * = 提示信息
 * ----------------------------------------------------------- */

.alert {
  padding: 10px 15px;
  margin-bottom: 1em;
  background: #fcf8e3;
  color: #c09853;
  a {
    color: #963;
  }
  &-header {
    font-size: 18px;
    color: inherit;
    vertical-align: middle;
  }
  &-content {
    padding-left: 1.5em;
  }
  &-ok {
    background: #dff0d8;
    color: #3c763d;
  }
  &-error {
    background: #f2dede;
    color: #b94a48;
  }
  i:before{
    vertical-align: text-top;
  }
}
