/* --------------------------------------------------------------
 * = 布局-全局样式
 * ----------------------------------------------------------- */

 .screen-reader-text{
  display: none;
 }

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }
}

@media screen and (max-width: 48em) {
    .wrap>.row{
        margin-left: 0;
        margin-right: 0;
    }
    .col{
        margin-bottom: 15px;
    }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}