/* --------------------------------------------------------------
 * = 评论样式
 * ----------------------------------------------------------- */

 .wp-post-image{
    max-width: 100%;
    height: auto;
 }

 // 媒体对齐
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: @panel-body-padding auto;
}
.alignleft,
.alignright {
  margin-bottom: @panel-body-padding;
}

@media (min-width: 64rem) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: @panel-body-padding;
  }
  .alignright {
    float: right;
    margin-left: @panel-body-padding;
  }
}

// 图片说明
.wp-caption {
  display: block;
  margin-bottom: 23px;
  transition: border .2s ease-in-out;
}

.wp-caption-text {
  padding: 6px 10px;
  color: #fff;
  margin-top: -36px;
  background-image: linear-gradient(transparent 0,#000000 300%);
  position: relative;
}

// 屏幕阅读器
.screen-reader-text {
  display: none;
}

// 评论区域标题
.comments-title {
    margin-top: 30px;
}

// 评论列表样式
.comment-list {
    margin-bottom: 40px;
    margin-left: 0;
    padding-left: 0;
    .avatar {
        border-radius: 3px;
        border: 1px solid #ddd;
    }
    ol {
        list-style: none;
    }
    .children {
        margin-left: 0;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-position: left 20px;
    }
    li.comment > div img.avatar {
        position: absolute;
        left: 29px;
        top: 29px;
    }
}

.wp-caption{
    margin-bottom: 16px;
}

// 单条评论样式
.comment {
    .comment-body {
        overflow: hidden;
        padding: 25px 25px 25px 80px;
        margin: 2em 0 0;
        position: relative;
        border: 1px solid #EDEDED;
        background: #FBFCFD;
        border-radius: 3px;
        border-bottom: 1px solid #ddd;
    }
    &-author.vcard {
        .avatar {
            position: absolute;
            left: 15px;
            top: 29px;
            border-radius: 2px;
        }
        .says {
            padding-left: 2px;
        }
    }
    &-metadata {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 10px;
        a {
            color: #999;
            font-size: 12px;
        }
    }
    &-reply-link {
        color: #bbb;
    }
    &-reply-title {
        margin-top: 15px;
    }
    &-notes {
        color: #bbb;
    }
    &-content {
        margin-top: 10px;
    }
    &-navigation {
        overflow: hidden;
        margin-top: 30px;
    }
}


// 默认相册样式
.gallery{
  .clearfix;
  margin-left: -8px;
  margin-right: -8px;
  .gallery-item{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    .gallery-icon{
      height: 100%;
    }
    .wp-caption-text{
      
    }
  }
  &-columns-2{
    .gallery-item{
      width: 50%;
    }
  }
  &-columns-3{
    .gallery-item{
      width: 33.33%;
    }
  }
  &-columns-4{
    .gallery-item{
      width: 25%;
    }
  }
  &-columns-5{
    .gallery-item{
      width: 20%;
    }
  }
}


// 评论表单
.comment-form {
    p {
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
        width: 100%;
        height: auto;
    }
}