/**
 * Some shortcodes use bootstrap, include only the bootstrap stuff that we use
 */

.wizhi .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wizhi .container-fluid:before, .wizhi .container-fluid:after {
    content: " ";
    display: table;
}

.wizhi .container-fluid:after {
    clear: both;
}

/**
 * 插件自带的 CSS
 */
/**
 * Fix box-sizing widths
 */
.wizhi_column,
.wizhi_column > div,
.wizhi_column > div > div {
    box-sizing: border-box;
}

/**
 * 默认外边距
 */
.wizhi_column {
    margin-bottom: 20px;
}