/**
 * Some shortcodes use bootstrap, include only the bootstrap stuff that we use
 */

.wizhi .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wizhi .container:before, .wizhi .container:after {
    content: " ";
    display: table;
}

.wizhi .container:after {
    clear: both;
}

@media (min-width: 768px) {
    .wizhi .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .wizhi .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .wizhi .container {
        width: 1170px;
    }
}

.wizhi .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wizhi .container-fluid:before, .wizhi .container-fluid:after {
    content: " ";
    display: table;
}

.wizhi .container-fluid:after {
    clear: both;
}

.wizhi .row {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.wizhi .row:before, .wizhi .row:after {
    content: " ";
    display: table;
}

.wizhi .row:after {
    clear: both;
}

.wizhi .col-xs-1, .wizhi .col-sm-1, .wizhi .col-md-1, .wizhi .col-lg-1, .wizhi .col-xs-2, .wizhi .col-sm-2, .wizhi .col-md-2, .wizhi .col-lg-2, .wizhi .col-xs-3, .wizhi .col-sm-3, .wizhi .col-md-3, .wizhi .col-lg-3, .wizhi .col-xs-4, .wizhi .col-sm-4, .wizhi .col-md-4, .wizhi .col-lg-4, .wizhi .col-xs-5, .wizhi .col-sm-5, .wizhi .col-md-5, .wizhi .col-lg-5, .wizhi .col-xs-6, .wizhi .col-sm-6, .wizhi .col-md-6, .wizhi .col-lg-6, .wizhi .col-xs-7, .wizhi .col-sm-7, .wizhi .col-md-7, .wizhi .col-lg-7, .wizhi .col-xs-8, .wizhi .col-sm-8, .wizhi .col-md-8, .wizhi .col-lg-8, .wizhi .col-xs-9, .wizhi .col-sm-9, .wizhi .col-md-9, .wizhi .col-lg-9, .wizhi .col-xs-10, .wizhi .col-sm-10, .wizhi .col-md-10, .wizhi .col-lg-10, .wizhi .col-xs-11, .wizhi .col-sm-11, .wizhi .col-md-11, .wizhi .col-lg-11, .wizhi .col-xs-12, .wizhi .col-sm-12, .wizhi .col-md-12, .wizhi .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.wizhi .col-xs-1, .wizhi .col-xs-2, .wizhi .col-xs-3, .wizhi .col-xs-4, .wizhi .col-xs-5, .wizhi .col-xs-6, .wizhi .col-xs-7, .wizhi .col-xs-8, .wizhi .col-xs-9, .wizhi .col-xs-10, .wizhi .col-xs-11, .wizhi .col-xs-12 {
    float: left;
}

.wizhi .col-xs-1 {
    width: 8.3333333333%;
}

.wizhi .col-xs-2 {
    width: 16.6666666667%;
}

.wizhi .col-xs-3 {
    width: 25%;
}

.wizhi .col-xs-4 {
    width: 33.3333333333%;
}

.wizhi .col-xs-5 {
    width: 41.6666666667%;
}

.wizhi .col-xs-6 {
    width: 50%;
}

.wizhi .col-xs-7 {
    width: 58.3333333333%;
}

.wizhi .col-xs-8 {
    width: 66.6666666667%;
}

.wizhi .col-xs-9 {
    width: 75%;
}

.wizhi .col-xs-10 {
    width: 83.3333333333%;
}

.wizhi .col-xs-11 {
    width: 91.6666666667%;
}

.wizhi .col-xs-12 {
    width: 100%;
}

.wizhi .col-xs-pull-0 {
    right: auto;
}

.wizhi .col-xs-pull-1 {
    right: 8.3333333333%;
}

.wizhi .col-xs-pull-2 {
    right: 16.6666666667%;
}

.wizhi .col-xs-pull-3 {
    right: 25%;
}

.wizhi .col-xs-pull-4 {
    right: 33.3333333333%;
}

.wizhi .col-xs-pull-5 {
    right: 41.6666666667%;
}

.wizhi .col-xs-pull-6 {
    right: 50%;
}

.wizhi .col-xs-pull-7 {
    right: 58.3333333333%;
}

.wizhi .col-xs-pull-8 {
    right: 66.6666666667%;
}

.wizhi .col-xs-pull-9 {
    right: 75%;
}

.wizhi .col-xs-pull-10 {
    right: 83.3333333333%;
}

.wizhi .col-xs-pull-11 {
    right: 91.6666666667%;
}

.wizhi .col-xs-pull-12 {
    right: 100%;
}

.wizhi .col-xs-push-0 {
    left: auto;
}

.wizhi .col-xs-push-1 {
    left: 8.3333333333%;
}

.wizhi .col-xs-push-2 {
    left: 16.6666666667%;
}

.wizhi .col-xs-push-3 {
    left: 25%;
}

.wizhi .col-xs-push-4 {
    left: 33.3333333333%;
}

.wizhi .col-xs-push-5 {
    left: 41.6666666667%;
}

.wizhi .col-xs-push-6 {
    left: 50%;
}

.wizhi .col-xs-push-7 {
    left: 58.3333333333%;
}

.wizhi .col-xs-push-8 {
    left: 66.6666666667%;
}

.wizhi .col-xs-push-9 {
    left: 75%;
}

.wizhi .col-xs-push-10 {
    left: 83.3333333333%;
}

.wizhi .col-xs-push-11 {
    left: 91.6666666667%;
}

.wizhi .col-xs-push-12 {
    left: 100%;
}

.wizhi .col-xs-offset-0 {
    margin-left: 0%;
}

.wizhi .col-xs-offset-1 {
    margin-left: 8.3333333333%;
}

.wizhi .col-xs-offset-2 {
    margin-left: 16.6666666667%;
}

.wizhi .col-xs-offset-3 {
    margin-left: 25%;
}

.wizhi .col-xs-offset-4 {
    margin-left: 33.3333333333%;
}

.wizhi .col-xs-offset-5 {
    margin-left: 41.6666666667%;
}

.wizhi .col-xs-offset-6 {
    margin-left: 50%;
}

.wizhi .col-xs-offset-7 {
    margin-left: 58.3333333333%;
}

.wizhi .col-xs-offset-8 {
    margin-left: 66.6666666667%;
}

.wizhi .col-xs-offset-9 {
    margin-left: 75%;
}

.wizhi .col-xs-offset-10 {
    margin-left: 83.3333333333%;
}

.wizhi .col-xs-offset-11 {
    margin-left: 91.6666666667%;
}

.wizhi .col-xs-offset-12 {
    margin-left: 100%;
}

@media (min-width: 768px) {
    .wizhi .col-sm-1, .wizhi .col-sm-2, .wizhi .col-sm-3, .wizhi .col-sm-4, .wizhi .col-sm-5, .wizhi .col-sm-6, .wizhi .col-sm-7, .wizhi .col-sm-8, .wizhi .col-sm-9, .wizhi .col-sm-10, .wizhi .col-sm-11, .wizhi .col-sm-12 {
        float: left;
    }

    .wizhi .col-sm-1 {
        width: 8.3333333333%;
    }

    .wizhi .col-sm-2 {
        width: 16.6666666667%;
    }

    .wizhi .col-sm-3 {
        width: 25%;
    }

    .wizhi .col-sm-4 {
        width: 33.3333333333%;
    }

    .wizhi .col-sm-5 {
        width: 41.6666666667%;
    }

    .wizhi .col-sm-6 {
        width: 50%;
    }

    .wizhi .col-sm-7 {
        width: 58.3333333333%;
    }

    .wizhi .col-sm-8 {
        width: 66.6666666667%;
    }

    .wizhi .col-sm-9 {
        width: 75%;
    }

    .wizhi .col-sm-10 {
        width: 83.3333333333%;
    }

    .wizhi .col-sm-11 {
        width: 91.6666666667%;
    }

    .wizhi .col-sm-12 {
        width: 100%;
    }

    .wizhi .col-sm-pull-0 {
        right: auto;
    }

    .wizhi .col-sm-pull-1 {
        right: 8.3333333333%;
    }

    .wizhi .col-sm-pull-2 {
        right: 16.6666666667%;
    }

    .wizhi .col-sm-pull-3 {
        right: 25%;
    }

    .wizhi .col-sm-pull-4 {
        right: 33.3333333333%;
    }

    .wizhi .col-sm-pull-5 {
        right: 41.6666666667%;
    }

    .wizhi .col-sm-pull-6 {
        right: 50%;
    }

    .wizhi .col-sm-pull-7 {
        right: 58.3333333333%;
    }

    .wizhi .col-sm-pull-8 {
        right: 66.6666666667%;
    }

    .wizhi .col-sm-pull-9 {
        right: 75%;
    }

    .wizhi .col-sm-pull-10 {
        right: 83.3333333333%;
    }

    .wizhi .col-sm-pull-11 {
        right: 91.6666666667%;
    }

    .wizhi .col-sm-pull-12 {
        right: 100%;
    }

    .wizhi .col-sm-push-0 {
        left: auto;
    }

    .wizhi .col-sm-push-1 {
        left: 8.3333333333%;
    }

    .wizhi .col-sm-push-2 {
        left: 16.6666666667%;
    }

    .wizhi .col-sm-push-3 {
        left: 25%;
    }

    .wizhi .col-sm-push-4 {
        left: 33.3333333333%;
    }

    .wizhi .col-sm-push-5 {
        left: 41.6666666667%;
    }

    .wizhi .col-sm-push-6 {
        left: 50%;
    }

    .wizhi .col-sm-push-7 {
        left: 58.3333333333%;
    }

    .wizhi .col-sm-push-8 {
        left: 66.6666666667%;
    }

    .wizhi .col-sm-push-9 {
        left: 75%;
    }

    .wizhi .col-sm-push-10 {
        left: 83.3333333333%;
    }

    .wizhi .col-sm-push-11 {
        left: 91.6666666667%;
    }

    .wizhi .col-sm-push-12 {
        left: 100%;
    }

    .wizhi .col-sm-offset-0 {
        margin-left: 0%;
    }

    .wizhi .col-sm-offset-1 {
        margin-left: 8.3333333333%;
    }

    .wizhi .col-sm-offset-2 {
        margin-left: 16.6666666667%;
    }

    .wizhi .col-sm-offset-3 {
        margin-left: 25%;
    }

    .wizhi .col-sm-offset-4 {
        margin-left: 33.3333333333%;
    }

    .wizhi .col-sm-offset-5 {
        margin-left: 41.6666666667%;
    }

    .wizhi .col-sm-offset-6 {
        margin-left: 50%;
    }

    .wizhi .col-sm-offset-7 {
        margin-left: 58.3333333333%;
    }

    .wizhi .col-sm-offset-8 {
        margin-left: 66.6666666667%;
    }

    .wizhi .col-sm-offset-9 {
        margin-left: 75%;
    }

    .wizhi .col-sm-offset-10 {
        margin-left: 83.3333333333%;
    }

    .wizhi .col-sm-offset-11 {
        margin-left: 91.6666666667%;
    }

    .wizhi .col-sm-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 992px) {
    .wizhi .col-md-1, .wizhi .col-md-2, .wizhi .col-md-3, .wizhi .col-md-4, .wizhi .col-md-5, .wizhi .col-md-6, .wizhi .col-md-7, .wizhi .col-md-8, .wizhi .col-md-9, .wizhi .col-md-10, .wizhi .col-md-11, .wizhi .col-md-12 {
        float: left;
    }

    .wizhi .col-md-1 {
        width: 8.3333333333%;
    }

    .wizhi .col-md-2 {
        width: 16.6666666667%;
    }

    .wizhi .col-md-3 {
        width: 25%;
    }

    .wizhi .col-md-4 {
        width: 33.3333333333%;
    }

    .wizhi .col-md-5 {
        width: 41.6666666667%;
    }

    .wizhi .col-md-6 {
        width: 50%;
    }

    .wizhi .col-md-7 {
        width: 58.3333333333%;
    }

    .wizhi .col-md-8 {
        width: 66.6666666667%;
    }

    .wizhi .col-md-9 {
        width: 75%;
    }

    .wizhi .col-md-10 {
        width: 83.3333333333%;
    }

    .wizhi .col-md-11 {
        width: 91.6666666667%;
    }

    .wizhi .col-md-12 {
        width: 100%;
    }

    .wizhi .col-md-pull-0 {
        right: auto;
    }

    .wizhi .col-md-pull-1 {
        right: 8.3333333333%;
    }

    .wizhi .col-md-pull-2 {
        right: 16.6666666667%;
    }

    .wizhi .col-md-pull-3 {
        right: 25%;
    }

    .wizhi .col-md-pull-4 {
        right: 33.3333333333%;
    }

    .wizhi .col-md-pull-5 {
        right: 41.6666666667%;
    }

    .wizhi .col-md-pull-6 {
        right: 50%;
    }

    .wizhi .col-md-pull-7 {
        right: 58.3333333333%;
    }

    .wizhi .col-md-pull-8 {
        right: 66.6666666667%;
    }

    .wizhi .col-md-pull-9 {
        right: 75%;
    }

    .wizhi .col-md-pull-10 {
        right: 83.3333333333%;
    }

    .wizhi .col-md-pull-11 {
        right: 91.6666666667%;
    }

    .wizhi .col-md-pull-12 {
        right: 100%;
    }

    .wizhi .col-md-push-0 {
        left: auto;
    }

    .wizhi .col-md-push-1 {
        left: 8.3333333333%;
    }

    .wizhi .col-md-push-2 {
        left: 16.6666666667%;
    }

    .wizhi .col-md-push-3 {
        left: 25%;
    }

    .wizhi .col-md-push-4 {
        left: 33.3333333333%;
    }

    .wizhi .col-md-push-5 {
        left: 41.6666666667%;
    }

    .wizhi .col-md-push-6 {
        left: 50%;
    }

    .wizhi .col-md-push-7 {
        left: 58.3333333333%;
    }

    .wizhi .col-md-push-8 {
        left: 66.6666666667%;
    }

    .wizhi .col-md-push-9 {
        left: 75%;
    }

    .wizhi .col-md-push-10 {
        left: 83.3333333333%;
    }

    .wizhi .col-md-push-11 {
        left: 91.6666666667%;
    }

    .wizhi .col-md-push-12 {
        left: 100%;
    }

    .wizhi .col-md-offset-0 {
        margin-left: 0%;
    }

    .wizhi .col-md-offset-1 {
        margin-left: 8.3333333333%;
    }

    .wizhi .col-md-offset-2 {
        margin-left: 16.6666666667%;
    }

    .wizhi .col-md-offset-3 {
        margin-left: 25%;
    }

    .wizhi .col-md-offset-4 {
        margin-left: 33.3333333333%;
    }

    .wizhi .col-md-offset-5 {
        margin-left: 41.6666666667%;
    }

    .wizhi .col-md-offset-6 {
        margin-left: 50%;
    }

    .wizhi .col-md-offset-7 {
        margin-left: 58.3333333333%;
    }

    .wizhi .col-md-offset-8 {
        margin-left: 66.6666666667%;
    }

    .wizhi .col-md-offset-9 {
        margin-left: 75%;
    }

    .wizhi .col-md-offset-10 {
        margin-left: 83.3333333333%;
    }

    .wizhi .col-md-offset-11 {
        margin-left: 91.6666666667%;
    }

    .wizhi .col-md-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1200px) {
    .wizhi .col-lg-1, .wizhi .col-lg-2, .wizhi .col-lg-3, .wizhi .col-lg-4, .wizhi .col-lg-5, .wizhi .col-lg-6, .wizhi .col-lg-7, .wizhi .col-lg-8, .wizhi .col-lg-9, .wizhi .col-lg-10, .wizhi .col-lg-11, .wizhi .col-lg-12 {
        float: left;
    }

    .wizhi .col-lg-1 {
        width: 8.3333333333%;
    }

    .wizhi .col-lg-2 {
        width: 16.6666666667%;
    }

    .wizhi .col-lg-3 {
        width: 25%;
    }

    .wizhi .col-lg-4 {
        width: 33.3333333333%;
    }

    .wizhi .col-lg-5 {
        width: 41.6666666667%;
    }

    .wizhi .col-lg-6 {
        width: 50%;
    }

    .wizhi .col-lg-7 {
        width: 58.3333333333%;
    }

    .wizhi .col-lg-8 {
        width: 66.6666666667%;
    }

    .wizhi .col-lg-9 {
        width: 75%;
    }

    .wizhi .col-lg-10 {
        width: 83.3333333333%;
    }

    .wizhi .col-lg-11 {
        width: 91.6666666667%;
    }

    .wizhi .col-lg-12 {
        width: 100%;
    }

    .wizhi .col-lg-pull-0 {
        right: auto;
    }

    .wizhi .col-lg-pull-1 {
        right: 8.3333333333%;
    }

    .wizhi .col-lg-pull-2 {
        right: 16.6666666667%;
    }

    .wizhi .col-lg-pull-3 {
        right: 25%;
    }

    .wizhi .col-lg-pull-4 {
        right: 33.3333333333%;
    }

    .wizhi .col-lg-pull-5 {
        right: 41.6666666667%;
    }

    .wizhi .col-lg-pull-6 {
        right: 50%;
    }

    .wizhi .col-lg-pull-7 {
        right: 58.3333333333%;
    }

    .wizhi .col-lg-pull-8 {
        right: 66.6666666667%;
    }

    .wizhi .col-lg-pull-9 {
        right: 75%;
    }

    .wizhi .col-lg-pull-10 {
        right: 83.3333333333%;
    }

    .wizhi .col-lg-pull-11 {
        right: 91.6666666667%;
    }

    .wizhi .col-lg-pull-12 {
        right: 100%;
    }

    .wizhi .col-lg-push-0 {
        left: auto;
    }

    .wizhi .col-lg-push-1 {
        left: 8.3333333333%;
    }

    .wizhi .col-lg-push-2 {
        left: 16.6666666667%;
    }

    .wizhi .col-lg-push-3 {
        left: 25%;
    }

    .wizhi .col-lg-push-4 {
        left: 33.3333333333%;
    }

    .wizhi .col-lg-push-5 {
        left: 41.6666666667%;
    }

    .wizhi .col-lg-push-6 {
        left: 50%;
    }

    .wizhi .col-lg-push-7 {
        left: 58.3333333333%;
    }

    .wizhi .col-lg-push-8 {
        left: 66.6666666667%;
    }

    .wizhi .col-lg-push-9 {
        left: 75%;
    }

    .wizhi .col-lg-push-10 {
        left: 83.3333333333%;
    }

    .wizhi .col-lg-push-11 {
        left: 91.6666666667%;
    }

    .wizhi .col-lg-push-12 {
        left: 100%;
    }

    .wizhi .col-lg-offset-0 {
        margin-left: 0%;
    }

    .wizhi .col-lg-offset-1 {
        margin-left: 8.3333333333%;
    }

    .wizhi .col-lg-offset-2 {
        margin-left: 16.6666666667%;
    }

    .wizhi .col-lg-offset-3 {
        margin-left: 25%;
    }

    .wizhi .col-lg-offset-4 {
        margin-left: 33.3333333333%;
    }

    .wizhi .col-lg-offset-5 {
        margin-left: 41.6666666667%;
    }

    .wizhi .col-lg-offset-6 {
        margin-left: 50%;
    }

    .wizhi .col-lg-offset-7 {
        margin-left: 58.3333333333%;
    }

    .wizhi .col-lg-offset-8 {
        margin-left: 66.6666666667%;
    }

    .wizhi .col-lg-offset-9 {
        margin-left: 75%;
    }

    .wizhi .col-lg-offset-10 {
        margin-left: 83.3333333333%;
    }

    .wizhi .col-lg-offset-11 {
        margin-left: 91.6666666667%;
    }

    .wizhi .col-lg-offset-12 {
        margin-left: 100%;
    }
}

/**
 * 插件自带的 CSS
 */
/**
 * Button shortcode
 */
.wizhi.pbs_button {
    margin-bottom: 20px;
    text-align: center;
}

.wizhi.pbs_button, .wizhi.pbs_button:hover, .wizhi.pbs_button a, .wizhi.pbs_button a:hover, .wizhi.pbs_button a:link, .wizhi.pbs_button a:link:hover, .wizhi.pbs_button a:visited, .wizhi.pbs_button a:visited:hover {
    text-decoration: none;
}

.wizhi.pbs_button.pbs_button_align_left {
    text-align: left;
}

.wizhi.pbs_button.pbs_button_align_right {
    text-align: right;
}

/**
 * Fix box-sizing widths
 */
.wizhi_column,
.wizhi_column > div,
.wizhi_column > div > div {
    box-sizing: border-box;
}

/**
 * 浮动分栏
 */
.wizhi_column > div > div {
    float: left;
}

/**
 * 清除分栏
 */
.wizhi_column {
    clear: both;
}

/**
 * 清除浮动
 */
.wizhi_column:after {
    content: '';
    clear: both;
    display: block;
}

/**
 * 默认外边距
 */
.wizhi_column {
    margin-bottom: 20px;
}

/**
 * 自适应分栏
 */
@media (max-width: 768px) {
    .wizhi_column > div > div {
        margin-right: 0 !important;
        float: none !important;
        width: auto !important;
    }
}

/**
 * 分栏对齐
 */
.wizhi_column.pbs-align-left > .row > div, .wizhi_column.pbs-align-right > .row > div, .wizhi_column.pbs-align-center > .row > div {
    width: auto;
}

.wizhi_column.pbs-align-center {
    text-align: left;
}

.wizhi_column.pbs-align-center .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.wizhi_column.pbs-align-right .row {
    float: right;
}

.wizhi_column.pbs-align-center > .row {
    display: inline-block;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wizhi_column.pbs-align-center > .row:before, .wizhi_column.pbs-align-center > .row:after {
    content: '';
    display: none;
}