@import "../_variables";

/* --------------------------------------------------------------
 * = 列表样式
 * ----------------------------------------------------------- */


// 带背景的列表，一半作为菜单使用
ul.list {
    color: @text-color;
    border-top: none;
    background: #fff;
    list-style: none;
    margin: 0;
    li{
        position: relative;
        a {
            line-height: normal;
            display: block;
            padding: @padding-md @padding;
            padding: @padding-md-rem @padding-rem;
            color: @text-color;
            border: 1px solid @border-color;
            margin-bottom: -1px;
            transition: .3s;
            &:hover,
            &.active{
                text-decoration: none;
                color: #fff;
                background: @maincolor;
            }
        }
        
    }
    &-round{
        li{
            &:first-child{
                a{
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                
            }
            &:last-child{
                a{
                    margin-bottom: 0;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
        }
    }
}


// 链接列表，常见于新闻标题链接
.ui-list {
    margin: 0;
    list-style: square inside;
    li{
        line-height: 20px;
        a{
           line-height: 20px;
            text-decoration: none;
            color: @link-color;
            &:hover{
                text-decoration: underline;    
            }
        }
        a,
        span.ui-list-item-text {
            vertical-align: middle;    
        }
    }
    &-gray{
        li{
            color: @text-color;
        }
    }
    &-graylink{
        li{
            color: @text-color;
            a {
                color: @text-lighter;
            }
        }
    }
    &-nosquare {
        list-style: none;    
    }
}


// 中间对齐的列表，常见于联系方式
dl.ui-dlist {
    &:extend(.clearfix all);
    color: #333;
    line-height: 2.2;
    margin-bottom: 2px;
    margin-bottom: .2rem;
    dt{
        float: left;
        font-weight: 700;
        width: 20%;
        text-align: right;
        margin: 0;
    }
    dd{
        float: left;
        width: 80%;
        text-align: left;
        margin: 0;
    }
}
