/* --------------------------------------------------------------
 * = 布局-全局样式
 * ----------------------------------------------------------- */

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }
}

.wrap{
  max-width: @width;
  margin: 0 auto;
}

.row{
  margin-left: -@padding;
  margin-left: -@padding-rem;
  margin-right: -@padding;
  margin-right: -@padding-rem;
  .col{
    padding-left: @padding;
    padding-left: @padding-rem;
    padding-right: @padding;
    padding-right: @padding-rem;
  }
}

@media screen and (max-width: 48em) {
    .wrap>.row{
        margin-left: 0;
        margin-right: 0;
    }
    .col{
        margin-bottom: 15px;
        margin-bottom: 1.5rem;
    }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}