/* --------------------------------------------------------------
 * = 网站特殊样式
 * ----------------------------------------------------------- */

body{
    font-size: 14px;
}

.demo-header{
    background: #2d3e50;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    padding: 15px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 9;
    h1,h3{
    	color: #fff;
    }
}

.demo-footer{
    border-top: 1px solid #eee;
    padding: 15px;
    margin-top: 30px;
}

.sep{
    margin-bottom: 15px;
}

.offside{
    ul{
        padding: 30px;
    }
    .col{
        padding: 0;
        ul{
            padding: 0;
        }
    }
}