@charset "utf-8";

.wizhi-form-filed{
    .mce-edit-area{
        border: 1px solid #ddd;
        border-width: 0 1px !important;
    }
    div.mce-toolbar-grp>div{
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    div.mce-statusbar {
        border: 1px solid #e5e5e5 !important;
    }
}