.ui-box
    .ui-box-head
        h3.ui-box-head-title 面朝大海 春暖花开
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            p 从明天起，做一个幸福的人, 喂马，劈柴，周游世界, 从明天起，关心粮食和蔬菜, 我有一所房子，面朝大海，春暖花开, 从明天起，和每一个亲人通信, 告诉他们我的幸福, 那幸福的闪电告诉我的, 我将告诉每一个人, 给每一条河每一座山取一个温暖的名字, 陌生人，我也为你祝福, 愿你有一个灿烂的前程, 愿你有情人终成眷属, 愿你在尘世获得幸福, 我只愿面朝大海，春暖花开



h2.typo-h2 和列表结合

.ui-box
    .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            .media
                a.media-cap(href="#")
                    img(src="http://placehold.it/64x64")
                .media-body
                    .media-body-title
                        strong 日记
                    p.typo-small 姐姐，今夜我在德令哈，夜色笼罩, 姐姐，我今夜只有戈壁, 草原尽头我两手空空, 悲痛时握不住一颗泪滴, 姐姐，今夜我在德令哈, 这是雨水中一座荒凉的城
            ul.ui-list
                li.ui-list-item
                    a(href="#") 祖国，或以梦为马
                li.ui-list-item
                    a(href="#") 明天醒来我会在哪一只鞋子里
                li.ui-list-item
                    a(href="#") 吊半坡并给擅入都市的农民
                li.ui-list-item
                    a(href="#") 七月不远——给青海湖 请熄灭我的爱情


h2.typo-h2 和媒体结合

.ui-box
      .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
        a.ui-box-head-more(href='#') 更多
      .ui-box-container
        .ui-box-content
          .medias
            .media
              a.media-cap(href='#')
                img(src='http://placehold.it/64x64')
              .media-body
                .media-body-title
                  strong 明天醒来我会在哪一只鞋子里
                p.typo-small 姐姐，今夜我在德令哈，夜色笼罩, 姐姐，我今夜只有戈壁, 草原尽头我两手空空
            .media.media-last
              a.media-cap(href='#')
                img(src='http://placehold.it/64x64')
              .media-body
                .media-body-title
                  strong 祖国，或以梦为马
                p.typo-small 悲痛时握不住一颗泪滴, 姐姐，今夜我在德令哈, 这是雨水中一座荒凉的城



h2.typo-h2 和媒体与列表结合

.ui-box
    .ui-box-head
        h3.ui-box-head-title 海子诗选
        span.ui-box-head-text 海子
            a.ui-box-head-more(href="#") 更多

    .ui-box-container
        .ui-box-content
            ul.ui-list
                li.ui-list-item
                    a(href="#") 祖国，或以梦为马
                li.ui-list-item
                    a(href="#") 明天醒来我会在哪一只鞋子里
                li.ui-list-item
                    a(href="#") 吊半坡并给擅入都市的农民
                li.ui-list-item
                    a(href="#") 七月不远——给青海湖 请熄灭我的爱情




h2.typo-h2 和媒体结合


.pure-g.row
    .pure-u-1.pure-u-md-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/420x280")

                .ui-box-container
                    .ui-box-content
                        h3.ui-box-content-title 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一


    .pure-u-1.pure-u-md-1-2
        .col
            .ui-box.ui-box-shadow

                .ui-box-cover
                    img(src="http://placehold.it/420x280")

                .ui-box-container
                    .ui-box-content
                        h3.ui-box-content-title 盒子内容的标题
                        p 河南睿芳教育科技集团，经河南省工商行政管理局批准成立，下属3个子公司：“河南睿芳教育科技有限公司”、“郑州睿芳机械工程技术服务有限公司”

                .ui-box-foot
                    img.img-circle(src="http://placehold.it/24x24" width=24 height=24)
                    span.ui-box-foot-left 集团概况
                    span.ui-box-foot-right 教育第一





