ul.list
      li.active
        a(href='#') 黎明
      li
        a(href='#') 给萨福
      li
        a(href='#') 给安徒生
      li
        a(href='#') 梭罗这人有脑子
      li
        a(href='#') 梭罗这人有脑子


h2.typo-h2 菜单列表-圆角

ul.list.list-round
      li.active
        a(href='#') 黎明
      li
        a(href='#') 给萨福
      li
        a(href='#') 给安徒生
      li
        a(href='#') 梭罗这人有脑子
      li
        a(href='#') 梭罗这人有脑子



h2.typo-h2 链接列表

ul.ui-list
    li.active
        a(href='#') 黎明
      li
        a(href='#') 给萨福
      li
        a(href='#') 给安徒生
      li
        a(href='#') 梭罗这人有脑子
      li
        a(href='#') 梭罗这人有脑子


h2.typo-h2 灰色链接

ul.ui-list.ui-list-graylink
    li.active
        a(href='#') 黎明
      li
        a(href='#') 给萨福
      li
        a(href='#') 给安徒生
      li
        a(href='#') 梭罗这人有脑子
      li
        a(href='#') 梭罗这人有脑子


h2.typo-h2 方块列表

ul.ui-list.ui-list-nosquare
    li.active
        a(href='#') 黎明
      li
        a(href='#') 给萨福
      li
        a(href='#') 给安徒生
      li
        a(href='#') 梭罗这人有脑子
      li
        a(href='#') 梭罗这人有脑子



h2.typo-h2 中间对齐

dl.ui-dlist
    dt 姓名：
    dd 吴鹏飞

dl.ui-dlist
    dt 实名认证：
    dd 已认证 
        a(href="#") 查看

dl.ui-dlist
    dt 手机号码：
    dd 18588182213

dl.ui-dlist
    dt Email邮箱：
    dd mail.easy@hotmail.com

dl.ui-dlist
    dt 淘宝绑定账户：
    dd 皮蛋狂吃瘦肉粥