table.pure-table
      thead
        tr
          th #
          th 姓名
          th 年龄
          th 班级
      tbody
        tr
          td 1
          td 李大钊
          td 120
          td 一连3班
        tr
          td 2
          td 张无忌
          td 1250
          td 1班
        tr
          td 3
          td 黄飞鸿
          td 230
          td 超级班




h2.typo-h2 有边框

table.pure-table.pure-table-bordered
      thead
        tr
          th #
          th 姓名
          th 年龄
          th 班级
      tbody
        tr
          td 1
          td 李大钊
          td 120
          td 一连3班
        tr
          td 2
          td 张无忌
          td 1250
          td 1班
        tr
          td 3
          td 黄飞鸿
          td 230
          td 超级班


h2.typo-h2 横向边框

table.pure-table.pure-table-horizontal
      thead
        tr
          th #
          th 姓名
          th 年龄
          th 班级
      tbody
        tr
          td 1
          td 李大钊
          td 120
          td 一连3班
        tr
          td 2
          td 张无忌
          td 1250
          td 1班
        tr
          td 3
          td 黄飞鸿
          td 230
          td 超级班
